<div class="container">
  <h3>Chat:</h3>
  <div class="chat-container">
    <!-- COLUNA ESQUERDA FIXA -->
    <div class="sidebar">
      <!-- Operador Logado -->
      <app-user-online [currentUser]="currentUser" [isOnline]="isLoggedIn" [isLoggedIn]="isLoggedIn"
        (login)="toggleLoginStatus()">
      </app-user-online>
      <!-- Fila de Espera -->

      <app-waiting-list [data]="waitingList()" 
      [customerSupport]="customerSupport()" 
      [currentUser]="currentUser"
        *ngIf="userRole != UserType.CLIENT">
      </app-waiting-list>


      <!-- Operadores Online -->
      <app-operators-online [data]="operators()" *ngIf="userRole != UserType.CLIENT"></app-operators-online>
    </div>

    <!-- COLUNA DIREITA FLEXÍVEL -->
    <div class="main">
      <!-- Atendimentos -->
      <app-active-chats [activeChats]="activeChats()"></app-active-chats>

      <!-- Chat -->
      <div class="box-body">
        <app-chat-window></app-chat-window>
      </div>
    </div>
  </div>
</div>