

<div class="modal-container" style="background-color: white;">
  <div class="modal-header">
    <h4 mat-dialog-title>
      {{ data.client ? ('client.edit-client' | translate) : ('client.add-client' | translate) }}
    </h4>
    <div class="company-name" *ngIf="companyName">
      {{ 'company.title' | translate }}: <strong>{{ companyName }}</strong>
      <mat-spinner *ngIf="!companyName" diameter="20"></mat-spinner>
    </div>
  </div>

  <div mat-dialog-content class="modal-content">
    <form [formGroup]="clientForm" class="form-grid">
      <!-- Linha 1 -->
      <app-custom-input 
        [label]="'Username'" 
        type="text" 
        [control]="clientForm.get('username')!"
        [showError]="shouldShowError('username')" 
        >
      </app-custom-input>

      <app-custom-input 
        [label]="'fields.name' | translate" 
        type="text" 
        [control]="clientForm.get('name')!"
        [showError]="shouldShowError('name')" 
        >
      </app-custom-input>

      <!-- Linha 2 -->
      <app-custom-input 
        [label]="'fields.phone' | translate" 
        type="telefone" 
        [control]="clientForm.get('phone')!"
        [showError]="shouldShowError('phone')" 
        >
      </app-custom-input>

      <app-custom-input 
        [label]="'fields.email' | translate" 
        type="email" 
        [control]="clientForm.get('email')!"
        [showError]="shouldShowError('email')" 
        >
      </app-custom-input>

      <!-- Linha 3 -->
      <app-custom-input 
        [label]="'Senha'" 
        type="password" 
        [control]="clientForm.get('password')!"
        [showError]="shouldShowError('password')" 
        >
      </app-custom-input>

      <app-custom-input 
        [label]="'table.connection' | translate" 
        type="text" 
        [control]="clientForm.get('connection')!">
      </app-custom-input>

      <!-- Campos ocultos -->
      <input type="hidden" formControlName="companyId">
      <input type="hidden" formControlName="roles">
    </form>
  </div>

  <div mat-dialog-actions class="modal-actions">
    <app-dynamic-button 
      type="cancel" 
      (clicked)="onCancel()" 
      [disabled]="loading">
      {{ 'BUTTON.CANCEL' | translate }}
    </app-dynamic-button>

    <app-dynamic-button 
      type="save" 
      (clicked)="onSave()" 
      [disabled]="loading" 
      [success]="loading">
      {{ 'BUTTON.SAVE' | translate }}
    </app-dynamic-button>
  </div>
</div>


  <!-- Visualização do estado do formulário para debug -->
<!-- <pre style="background: #f5f5f5; font-size: 8px;">
  Form Value:
  {{ clientForm.value | json }}
  
  Form Status:
  {{ clientForm.status | json }}
  
  Invalid Controls:
  {{ getInvalidControls() | json }}
</pre> -->
