<mat-form-field [ngClass]="[getSizeClass(), cssClass]" appearance="outline" class="custom-field">
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      [type]="inputType"
      [formControl]="control"
      [placeholder]="placeholder"
      [mask]="mask"
      [dropSpecialCharacters]="false"
    />
  
    <mat-error *ngIf="showError">
      <ng-container *ngIf="control.errors?.['required']">Campo obrigatório.</ng-container>
      <ng-container *ngIf="control.errors?.['email']">E-mail inválido.</ng-container>
      <ng-container *ngIf="control.errors?.['pattern']">Formato inválido.</ng-container>
    </mat-error>
  </mat-form-field>
  