<div class="editor-container">
  <div class="controls">
    <button mat-raised-button (click)="togglePreview()" class="preview-btn">
      <mat-icon>{{ showPreview() ? 'visibility_off' : 'visibility' }}</mat-icon>
      {{ showPreview() ? 'Ocultar Preview' : 'Mostrar Preview' }}
    </button>

    <div class="action-buttons">

      <app-dynamic-button type="pdf" label="PDF" [disabled]="isGeneratingPDF()" (clicked)="generatePDF()">
        <ng-container *ngIf="isGeneratingPDF(); else iconPDF">
          <mat-spinner diameter="20" strokeWidth="2"></mat-spinner>
        </ng-container>
        <ng-template #iconPDF></ng-template>
      </app-dynamic-button>

      <app-dynamic-button type="save" [label]="currentDocumentId ? 'Atualizar' : 'Salvar'"
        [disabled]="editorContent.trim() === '' || isProcessingSave" (clicked)="saveDocument()">
      </app-dynamic-button>

      <app-dynamic-button type="clear" label="Limpar" (clicked)="clearDocument()">
      </app-dynamic-button>
    </div>
  </div>

  <div class="editor-wrapper">
    <mat-form-field appearance="outline" class="document-title full-width">
      <mat-label>Título do documento</mat-label>
      <input matInput [(ngModel)]="documentTitle" placeholder="Título do documento">
    </mat-form-field>

    <div *ngIf="!showPreview(); else previewTemplate">
      <quill-editor class="quill-editor" [(ngModel)]="editorContent"
        placeholder="Digite seu texto aqui..." format="html">
      </quill-editor>
    </div>

    <ng-template #previewTemplate>
      <div class="preview-wrapper">
        <h3>Preview do Documento (Como ficará no PDF)</h3>
        <div #previewContent class="preview-content ql-editor" [innerHTML]="editorContent"></div>
      </div>
    </ng-template>
  </div>

  <!-- <mat-spinner *ngIf="isLoading()" diameter="40"></mat-spinner> -->

  <div class="saved-documents" *ngIf="savedDocuments().length > 0">
    <h3>Documentos Salvos</h3>

    <app-dynamic-table [headers]="headers" [data]="savedDocuments()" [actions]="['load', 'delete']"
      (load)="loadDocument($event)" (delete)="deleteDocument($event.id, $event)">
    </app-dynamic-table>

  </div>
</div>