<div class="select-container">
  <mat-form-field [ngClass]="[getSizeClass()]" [appearance]="'outline'" class="custom-field full-width"
    floatLabel="always"
    [color]="formControl.invalid && (formControl.touched || formControl.dirty) ? 'warn' : undefined">
    <mat-label>{{ label }}</mat-label>

    <mat-select [ngModel]="model" (ngModelChange)="onSelectionChange($event)" [disabled]="disabled"
      [placeholder]="placeholder" [required]="isRequired">
      <mat-option *ngIf="showDefaultOption" [value]="null">{{ defaultOptionLabel }}</mat-option>
      <mat-option *ngFor="let option of options" [value]="option[valueKey] ?? option">
        {{ option[labelKey] ?? option }}
      </mat-option>
    </mat-select>

    <mat-error *ngIf="formControl.invalid && (formControl.touched || formControl.dirty)">
      {{ errorMessage || 'Campo obrigatório' }}
    </mat-error>
  </mat-form-field>
</div>