.dynamic-select-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;

  ::ng-deep .mat-mdc-form-field-infix {
    padding: 4px 8px !important;
    min-height: 40px !important;
    display: flex;
    align-items: center;
  }

  ::ng-deep .mat-mdc-select-value {
    font-size: 13px !important;
    color: #222 !important;
  }

  ::ng-deep .mat-mdc-floating-label {
    font-size: 12px !important;
    color: #444 !important;
  }

  ::ng-deep .mat-mdc-form-field .mat-mdc-form-field-error {
    color: #f44336 !important;
    font-size: 12px;
    font-weight: 500;
  }

  ::ng-deep .mat-mdc-form-field-invalid .mat-mdc-outline {
    border-color: #f44336 !important;
  }

  // Tamanhos dinâmicos
  &.size-sm ::ng-deep .mat-mdc-form-field-infix {
    min-height: 34px !important;
    font-size: 12px !important;
  }

  &.size-lg ::ng-deep .mat-mdc-form-field-infix {
    min-height: 48px !important;
    font-size: 15px !important;
  }
}

// ::ng-deep .mat-form-field-invalid.mat-form-field-appearance-outline .mat-form-field-outline {
//   color: red;
//   border-color: red !important;
// }

.select-container {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 200px; /* Largura mínima de 200px */
  width: 100%; /* Ocupa toda a largura disponível */

}

.custom-field.full-width {
  width: 100%;
}

/* Ajuste para o mat-form-field */
::ng-deep .custom-field .mat-mdc-text-field-wrapper {
  min-width: 200px !important;
  width: 100% !important;
}

/* Ajuste para o mat-select */
::ng-deep .custom-field .mat-mdc-select-trigger {
  width: 100% !important;
}

/* Ajuste para o valor selecionado */
::ng-deep .custom-field .mat-mdc-select-value-text {
  width: 100% !important;
  display: block !important;
}

.action-button {
  margin-left: 8px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

