<section class="toggle-container">
  <h3>{{ title }}</h3>
  <mat-button-toggle-group
    class="custom-toggle-group"
    [value]="selectedValue"
    (change)="handleChange($event.value)"
    [hideSingleSelectionIndicator]="false"
  >
    <mat-button-toggle
      class="custom-toggle"
      [value]="btn1.value"
    >
      {{ btn1.label }}
    </mat-button-toggle>

    <mat-button-toggle
      class="custom-toggle"
      [value]="btn2.value"
    >
      {{ btn2.label }}
    </mat-button-toggle>

    <mat-button-toggle
      class="custom-toggle"
      [value]="btn3.value"
    >
      {{ btn3.label }}
    </mat-button-toggle>
  </mat-button-toggle-group>
</section>
