<div class="login-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Usuário</mat-label>
            <input matInput formControlName="username" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="password" />
        </mat-form-field>

        <div class="login-links">
            <a routerLink="/criar-conta">Criar nova conta</a>
            <a routerLink="/recuperar-senha">Esqueci a senha</a>
        </div>

        <button mat-raised-button color="primary" class="full-width">Entrar</button>
    </form>
</div>