<mat-card class="card-board">
    <mat-card-title style="color: white;">OPERADORES ONLINE</mat-card-title>
  
    <table mat-table [dataSource]="data || operators()" class="mat-elevation-z1">
  
      <!-- Nome -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let e"> {{e.name}} </td>
      </ng-container>
  
      <!-- Setor -->
      <ng-container matColumnDef="sector">
        <th mat-header-cell *matHeaderCellDef> Setor </th>
        <td mat-cell *matCellDef="let e"> {{e.sector}} </td>
      </ng-container>
  
      <!-- Atendimentos -->
      <ng-container matColumnDef="atendimentos">
        <th mat-header-cell *matHeaderCellDef> Atend... </th>
        <td mat-cell *matCellDef="let e"> {{e.atendimentos}} </td>
      </ng-container>
  
      <!-- Cabeçalho e linhas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="height: 10px !important;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height: 30px !important;"></tr>
    </table>
  </mat-card>
  