<div class="container">
    <h3>{{ 'client.subtitle' | translate }}</h3>

    <div class="dropdown-container">
        <div *ngFor="let company of companies; let i = index" class="dropdown">
            <div class="dropdown-header" (click)="toggleDropdown(i)">
                <div class="header-drop-down">
                    <mat-icon>apartment</mat-icon>
                    <span>{{ company.name }}</span>
                    <mat-icon class="add-client" (click)="$event.stopPropagation(); openCreateClientModal(company)">
                        person_add
                    </mat-icon>
                </div>
                <div class="header-actions">
                    <mat-icon>{{ activeDropdown === i ? 'expand_less' : 'expand_more' }}</mat-icon>
                </div>
            </div>
            <div class="dropdown-body" *ngIf="activeDropdown === i">
                <div *ngIf="company.clients.length > 0">
                    <app-dynamic-table 
                        [headers]="headers" 
                        [data]="company.clients" 
                        [actions]="['edit', 'delete']"
                        (save)="updateDocument($event)" 
                        (delete)="deleteDocument($event, company)">
                    </app-dynamic-table>
                </div>

                <div *ngIf="company.clients.length === 0" class="no-videos-message">
                    <p>{{ 'client.client-not-found' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>