<div class="dialog-container">
  <!-- Header -->
  <div class="dialog-header">
    <h1 mat-dialog-title>{{ data.title }}</h1>
  </div>

  <!-- Body -->
  <div mat-dialog-content [innerHTML]="data.message" class="dialog-body"></div>
  <!-- <div mat-dialog-content class="dialog-body">
    <p>{{ data.message }}</p>
  </div> -->

  <hr />

  <!-- Footer -->
  <div mat-dialog-actions class="dialog-footer">
    <app-dynamic-button type="close" (clicked)="onCancel()">
    </app-dynamic-button>

    <app-dynamic-button [type]="data.typeButtom" (clicked)="onConfirm()">
    </app-dynamic-button>
  </div>
</div>