@if (role === 'operator') {
  <mat-card class="card-board-chat operator">
    <mat-card-title>OPERADOR LOGADO</mat-card-title>
    <div class="user-info">
      <img [src]="currentUser.imageUrl" alt="avatar" class="avatar" />
      <span class="status" [class.online]="isOnline"></span>
      <span>{{ currentUser.name }}</span>
    </div>
  
    <div class="button">
      <app-dynamic-button 
        [type]="isLoggedIn ? 'logout' : 'login'" 
        (clicked)="onLogin()" 
        class="btn-login">
      </app-dynamic-button>
    </div>
  </mat-card>
  }
  
  @if (role === 'client') {
  <mat-card class="card-board-chat client">
    <mat-card-title>CLIENTE LOGADO</mat-card-title>
    <div class="user-info">
      <img [src]="currentUser.imageUrl" alt="avatar" class="avatar" />
      <span class="status" [class.online]="isOnline"></span>
      <span>{{ currentUser.name }}</span>
    </div>
  
    <div class="button">
      <app-dynamic-button 
        [type]="isLoggedIn ? 'logout' : 'login'" 
        (clicked)="onLogin()" 
        class="btn-login">
      </app-dynamic-button>
    </div>
  </mat-card>
  }