    <div class="container">
      <div class="card rgb painting">
        <div class="card-image"></div>
        <div class="card-description">
          <h2 class="card-title">Visual art</h2>
          <strong>The visual arts</strong> are art forms such as painting...
        </div>
      </div>
  
      <div class="card rgb code">
        <div class="card-image"></div>
        <div class="card-description">
          <h2 class="card-title">Programming</h2>
          <strong>Programming</strong> is the process of designing and building...
        </div>
      </div>
  
      <div class="card rgb music">
        <div class="card-image"></div>
        <div class="card-description">
          <h2 class="card-title">Music</h2>
          <strong>Music</strong> is the art of arranging sounds in time...
        </div>
      </div>
  
      <div class="card rgb maths">
        <div class="card-image"></div>
        <div class="card-description">
          <h2 class="card-title">Maths</h2>
          <strong>Mathematics</strong> includes the study of such topics as...
        </div>
      </div>
    </div>
  
