<div class="filter-container">
  <!-- Filtro por Nome (Custom Input) -->
  <app-custom-input
    label="Filtrar por nome"
    [control]="nameControl"
    type="text"
    placeholder="Digite o nome"
    cssClass="input-full"
    size="full-width"
    (control.valueChanges)="filterVideos()">
  </app-custom-input>

  <!-- Filtro por Setor (Dynamic Select) -->
  <app-dynamic-select
    [label]="'Filtrar por setor'"
    [model]="filters.sector"
    (onChange)="filters.sector = $event; filterVideos()"
    [options]="sectors"
    [showDefaultOption]="true"
    [defaultOptionLabel]="'Todos os setores'"
    size="md">
  </app-dynamic-select>

  <!-- Filtro por Data (Custom Input com type date) -->
  <app-custom-input
    label="Filtrar por data"
    [control]="dateControl"
    type="date"
    placeholder="Selecione a data"
    cssClass="input-full"
    size="full-width"
    (control.valueChanges)="filterVideos()">
  </app-custom-input>

  <!-- Botão para abrir modal -->
  <button mat-raised-button (click)="openAddVideoModal()" class="search white-button">
    <mat-icon style="    height: auto;
    width: auto;
    margin: 0px;">video_call</mat-icon>
  </button>
</div>


<div class="dropdown-container">
  <div *ngFor="let dropdown of filteredDropdowns; let i = index" class="dropdown">
    <div class="dropdown-header" (click)="toggleDropdown(i)">
      <span>{{ dropdown.dropdownText }}</span>
      <div class="header-actions">
        <button mat-icon-button color="primary" (click)="openAddVideoModal(dropdown)">
          <mat-icon>edit</mat-icon>
        </button>
        <mat-icon (click)="toggleDropdown(i)">{{ activeDropdown === i ? 'expand_less' : 'expand_more' }}</mat-icon>
      </div>
    </div>
    <div class="dropdown-body" [class.hidden]="activeDropdown !== i">
      <div class="videos">
        <div class="video-column" *ngFor="let video of dropdown.videos">
          <iframe class="youtube-iframe" [src]="getEmbedUrl(video.url)" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen">
          </iframe>
          <div class="video-info">
            <div class="video-created">{{ video.created | onlyDate }}</div>
            <div class="video-title">{{ video.title }}</div>
            <div class="video-profile">
              <img [src]="video.imgProfile" alt="Profile image" class="profile-img" />
              <div>
                <div class="video-profile-name">{{ video.nameProfile }}</div>
                <div class="video-sector">{{ video.sector }}</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Mensagem de "sem vídeos" caso a lista esteja vazia -->
  <div *ngIf="filteredDropdowns.length === 0" class="no-videos-message">
    <p>Não há sessões de vídeos cadastradas.</p>
  </div>
</div>