.tag-input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  
    .tag-wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      border: 1px solid #ccc;
      padding: 5px;
      border-radius: 4px;
  
      input {
        flex-grow: 1;
        border: none;
        outline: none;
        font-size: 14px;
        padding: 5px;
      }
    }
  
    .tag {
      display: inline-block;
      margin: 2px;
      padding: 5px 10px;
      border-radius: 4px;
      font-size: 14px;
      color: #fff;
    }
  
    .suggestions {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      max-height: 200px;
      overflow-y: auto;
      margin-top: 5px;
      z-index: 10;
      list-style: none;
      
      .suggestion-item {
        padding: 10px;
        cursor: pointer;
  
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
  
  .success-message {
    color: #4caf50;
    font-size: 0.9rem;
    margin-top: 8px;
  }

  .tag {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 16px;
    margin: 5px;
    color: white;
    font-size: 14px;
    cursor: default;
  }
  
  .remove-icon {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #fff;
    color: #f00;
    border-radius: 50%;
    font-size: 10px;
    width: 16px;
    height: 16px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  .remove-icon:hover {
    background: #f00;
    color: #fff;
  }

  .tag-input-container {
    &.mat-form-field-invalid {
      .tag-wrapper {
        border-color: #f44336; /* Vermelho do Material */
        
        input {
          &::placeholder {
            color: #f44336;
          }
        }
      }
    }
  }
  
  .error-state {
    border: 1px solid #f44336;
    border-radius: 4px;
    padding: 0.5em;
  }
  