.modal-item {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.modal-list {
  h5 {
    color: cadetblue;
  }
}

.call-header-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.call-title {
  font-size: 1rem;
}

.call-status {
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.7rem;
  color: white;
  white-space: nowrap;
}

.status-closed {
  background-color: #4caf50;
}

.status-open {
  background-color: #f44336;
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  gap: 6px; // espaço entre as tags
  margin-top: 0.5rem;
}

.keyword {
  padding: 4px 10px;
  border-radius: 16px;
  font-size: 0.75rem;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
}

