<div class="container">
  <h3>Chamados:</h3>
  <div *ngIf="loading" class="loading-overlay">
    <mat-spinner></mat-spinner>
  </div>

  <form [formGroup]="form" style="max-width: 900px;">
    <div class="main-top">
      <!-- Empresa -->
      <div class="companies">
        <app-dynamic-select [label]="'Empresa'" [options]="companies" [valueKey]="'id'" [labelKey]="'name'"
          (onChange)="onCompanyChange($event)" [formControl]="getControl('companyId')"
          [errorMessage]="'Empresa é obrigatória'">
        </app-dynamic-select>
        <button mat-icon-button color="primary" (click)="openCompanyModal()" matTooltip="Adicionar nova empresa">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <!-- Cliente -->
      <div class="clients">
        <app-dynamic-select [label]="'Cliente'" [options]="clients" [valueKey]="'id'" [labelKey]="'name'"
          [formControl]="getControl('clientId')" (modelChange)="onClientSelected($event)">
        </app-dynamic-select>
        <button mat-icon-button color="primary" (click)="openClientModal()" [disabled]="!getControl('companyId').value"
          matTooltip="Adicionar novo cliente">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <!-- Conexão -->
      @if (!isNarrow) {
      <div class="conexao" [ngClass]="{ 'mobile': isNarrow }">
        <app-custom-input label="Conexão" [control]="getControl('connection')" size="medio">
        </app-custom-input>
      </div>
      }
    </div>

    <!-- Conexão -->
    @if (isNarrow) {
    <div class="conexao" [ngClass]="{ 'mobile': isNarrow }">
      <app-custom-input label="Conexão" [control]="getControl('connection')" size="full-width">
      </app-custom-input>
    </div>
    }

    <!-- Título -->
    <div class="title">
      <app-custom-input label="Título" [control]="getControl('title')" size="full-width">
      </app-custom-input>
    </div>

    <!-- Descrição -->
    <div class="base" style="display: flex; flex-direction: column; gap: 2px;">
      <app-custom-input [control]="getControl('description')" type="text-area" label="Descrição do problema"
        placeholder="Digite a descrição aqui" size="full-width">
      </app-custom-input>

      <!-- Observação -->
      <app-rich-text-editor placeholder="Digite sua observação aqui..." [control]="getControl('resolution')">
      </app-rich-text-editor>

      <!-- Tags e Radio -->
      <div class="tags" style="margin-top: 10px;">
        <app-tags [tags]="selectedCall?.tags!" [control]="getControl('tags')" (tagsChanged)="onTagsChanged($event)">
        </app-tags>
        <!-- Status Aberto/Fechado -->
        <div class="form-radio">
          <mat-radio-group [formControl]="getControl('closed')" aria-label="closed">
            <mat-radio-button [value]="false" class="radio-btn">Aberto</mat-radio-button>
            <mat-radio-button [value]="true" class="radio-btn">Fechado</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>

    <!-- Botões -->
    <div class="buttons" style="margin-top: 20px;">
      <app-dynamic-button *ngIf="!selectedCall" type="save" (click)="onSubmit()"
        [success]="saveSuccess"></app-dynamic-button>
      <app-dynamic-button *ngIf="selectedCall" type="edit" (click)="handleSaveOrEdit($event)"></app-dynamic-button>
      <app-dynamic-button type="clear" (click)="onClear()"></app-dynamic-button>
      <app-dynamic-button *ngIf="selectedCall" type="print" (click)="onClear()"></app-dynamic-button>
      <app-dynamic-button type="delete" (click)="onDelete()"></app-dynamic-button>
    </div>
  </form>
</div>

<div class="call-list" style="margin-top: 20px;">
  <h3>Lista de chamados:</h3>
  <app-calls-list (callSelected)="handleSelectedCall($event)"></app-calls-list>
</div>